@use "../abstracts/mixins" as *;

.comment-edit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: calc(0.7 * 1rem);

  &__field {
    flex: 1;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 60ch;
    padding: var(--space-field);
    color: var(--neutral-grayish-blue);
    border: var(--border-width-default) solid var(--neutral-light-gray);
    border-radius: calc(0.4 * 1rem);
    font-size: var(--font-size-body);
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: var(--primary-moderate-blue);
    }
  }

  &__submit {
    @include button-reset;
    align-self: end;
    padding: var(--space-edit-submit);
    color: var(--neutral-white);
    border: 0;
    background: var(--primary-moderate-blue);
    border-radius: calc(0.4 * 1rem);
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
    @include motion-transition(100ms ease-in-out);

    &:hover {
      opacity: 0.5;
    }
  }
}
