@use "../abstracts/mixins" as *;

.comment-edit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  gap: 0.7rem;

  &__field {
    flex: 1;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 60ch;
    padding: 0.5rem 1rem;
    color: var(--neutral-grayish-blue);
    border: 2px solid var(--neutral-light-gray);
    border-radius: 0.4rem;
    font-size: var(--font-size-body);
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: var(--primary-moderate-blue);
    }
  }

  &__submit {
    @include button-reset;
    align-self: end;
    padding: 1rem 1.2rem;
    color: var(--neutral-white);
    border: 0;
    background: var(--primary-moderate-blue);
    border-radius: 0.4rem;
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    text-transform: uppercase;
    transition: 100ms ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}
