@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@include define-come-in-keyframes;

.comment-form {
  display: flex;
  flex-direction: column;
  gap: calc(0.7 * 1rem);
  align-items: stretch;
  padding: var(--space-form-mobile-y) var(--space-form-x);
  max-height: calc(11.5 * 1rem);
  background: var(--neutral-white);
  border-radius: $radius-lg;

  &--reply {
    gap: var(--space-comment-y);
    padding: var(--space-comment-y) var(--space-comment-x);
    max-height: none;
    @include come-in-animation;

    .comment-form__inner {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: calc(0.5 * 1rem);
    }
  }

  &__avatar {
    display: none;
    align-self: start;
    width: calc(2.5 * 1rem);
    aspect-ratio: 1;

    &--mobile {
      display: initial;
    }
  }

  &__field {
    padding: var(--space-field);
    resize: none;
    color: var(--neutral-grayish-blue);
    border: var(--border-width-default) solid var(--neutral-light-gray);
    height: 4em;
    min-height: calc(5 * 1rem);
    border-radius: calc(0.8 * 1rem);
    font-size: var(--font-size-body);
    flex: 1;
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: var(--primary-moderate-blue);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__submit {
    @include button-reset;
    color: var(--neutral-white);
    border: 0;
    padding: var(--space-submit);
    background: var(--primary-moderate-blue);
    border-radius: $radius-md;
    font-weight: 700;
    align-self: flex-end;
    @include motion-transition(100ms ease-in-out);
    font-family: inherit;
    font-size: var(--font-size-body);
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
    }
  }

  &--reply &__field {
    max-width: 60ch;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &--reply &__submit {
    padding: var(--space-submit-reply);
    align-self: flex-end;
  }

  &--reply &__avatar {
    display: none;
  }
}

@include from-tablet {
  .comment-form {
    flex-direction: row;
    max-height: none;
    padding: var(--space-form-y) var(--space-form-x);

    &__avatar {
      display: initial;

      &--mobile {
        display: none;
      }
    }

    &__field {
      border-radius: $radius-sm;
      min-height: auto;
    }

    &__submit {
      align-self: start;
      border-radius: $radius-sm;
    }

    &--reply &__inner {
      flex-direction: row;
    }

    &--reply &__submit {
      align-self: start;
    }
  }
}
