@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

@include define-come-in-keyframes;

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: stretch;
  padding: 0.5rem 2rem;
  max-height: 11.5rem;
  background: var(--neutral-white);
  border-radius: $radius-lg;

  &--reply {
    gap: 1.5rem;
    padding: var(--space-comment-y) var(--space-comment-x);
    max-height: none;
    @include come-in-animation;

    .comment-form__inner {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      gap: 0.5rem;
    }
  }

  &__avatar {
    display: none;
    align-self: start;
    width: 2.5rem;
    aspect-ratio: 1;

    &--mobile {
      display: initial;
    }
  }

  &__field {
    padding: 0.5rem 1rem;
    resize: none;
    color: var(--neutral-grayish-blue);
    border: 2px solid var(--neutral-light-gray);
    height: 4em;
    min-height: 5rem;
    border-radius: 0.8rem;
    font-size: var(--font-size-body);
    flex: 1;
    font-family: inherit;

    &:focus {
      outline: none;
      border-color: var(--primary-moderate-blue);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__submit {
    @include button-reset;
    color: var(--neutral-white);
    border: 0;
    padding: 1rem 1.9rem;
    background: var(--primary-moderate-blue);
    border-radius: $radius-md;
    font-weight: 700;
    align-self: flex-end;
    transition: 100ms ease-in-out;
    font-family: inherit;
    font-size: var(--font-size-body);
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
    }
  }

  &--reply &__field {
    max-width: 60ch;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &--reply &__submit {
    padding: 1rem 1.5rem;
    align-self: flex-end;
  }

  &--reply &__avatar {
    display: none;
  }
}

@include from-tablet {
  .comment-form {
    flex-direction: row;
    max-height: none;
    padding: 1rem 2rem;

    &__avatar {
      display: initial;

      &--mobile {
        display: none;
      }
    }

    &__field {
      border-radius: $radius-sm;
      min-height: auto;
    }

    &__submit {
      align-self: start;
      border-radius: $radius-sm;
    }

    &--reply &__inner {
      flex-direction: row;
    }

    &--reply &__submit {
      align-self: start;
    }
  }
}
