@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.replies {
  border-inline-start: 2px solid var(--neutral-light-gray);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: end;
  width: 100%;
  padding: 1px;
  margin-block-end: 2px;

  &--hidden {
    display: none;
  }
}

@include from-tablet {
  .replies {
    width: 95%;
    gap: 1.5rem;
  }
}
