@use "../abstracts/mixins" as *;

.replies {
  border-inline-start: var(--border-width-default) solid var(--neutral-light-gray);
  display: flex;
  flex-direction: column;
  gap: calc(1.2 * 1rem);
  align-self: end;
  width: 100%;
  padding: var(--border-width-hairline);
  margin-block-end: var(--offset-hairline);

  &--hidden {
    display: none;
  }
}

@include from-tablet {
  .replies {
    width: 95%;
    gap: var(--space-comment-y);
  }
}
