.comment-card {
    background: var(--neutral-white);
    display: flex;
    gap: 1.5rem;
    border-radius: 0.7rem;
    padding: 1.5rem 2rem;
    animation: come-in 1s ease-in-out;
    align-items: stretch;
}

.comment-section {
    flex: 1;
}

.stats-section {
    background: var(--neutral-very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7rem 0.5rem;
    justify-content: flex-start;
    gap: 1.2rem;
    border-radius: 0.5rem;
    width: 1.5rem;
    align-self:flex-start;
}

.comment-content {
    padding-top: 1rem;
    max-width: 60ch;
    word-wrap: break-word;
    word-break: break-all;
    color: var(--neutral-grayish-blue);
    line-height: 24px;
}

.stats-section > img {
    transition: 20ms ease-in-out;
}

.stats-section > .not-scored:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(32%) sepia(49%) saturate(1045%) hue-rotate(205deg) brightness(95%) contrast(88%);
}

.user-info > img {
    width: 2rem;
    aspect-ratio: 1;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-count {
    color: var(--primary-moderate-blue);
    font-weight: 700;
}

.reply, .edit, .delete {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 100ms ease-in-out;
    line-height: 24px;
}

.reply, .edit {
    color: var(--primary-moderate-blue);
}
.delete {
    color: var(--primary-soft-red)
}

.comment-owner {
    display: flex;
    gap: 1.5rem;
}

.scored {
    opacity: 0.4;
}



.reply:hover, .delete:hover, .edit:hover {
    cursor: pointer;
    opacity: 0.5;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-name {
    color: var(--neutral-dark-blue);
    font-weight: 700;
}

.comment-date {
    color: var(--neutral-grayish-blue);
    line-height: 24px;
}

@keyframes come-in {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }

    75%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}