.reply-section {
    border-left: 2px solid var(--neutral-light-gray);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    animation: come-in 1.5s ease-in-out;
    align-self: end;
    width: 95%;
}

.reply-card {
    width: 85%;
    align-self: end;
}

.reply-content {
    padding-top: 1rem;
    max-width: 55ch;
    word-wrap: break-word;
    color: var(--neutral-grayish-blue);
    line-height: 24px;
}

.reply-content > .replying-to {
    color: var(--primary-moderate-blue);
    font-weight: 700;
    padding-right: 0.2rem;
}

.new-reply-form {
    display: flex;
    align-items: stretch;
    width: 100%;
    gap: 0.5rem;
}

.reply-to-name {
    position: absolute;
    color: var(--neutral-grayish-blue);
}

.active {
    opacity: 0.5 !important;
}

.new-reply-form > textarea {
    flex: 1;
    resize: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 60ch;
}

.new-reply-form > input[type=submit] {
    padding: 1rem 1.5rem;
}

.new-reply-form > img {
    align-self: start;
    width: 2.5rem;
    aspect-ratio: 1;
}

.new-reply-card {
    background: var(--neutral-white);
    display: flex;
    gap: 1.5rem;
    border-radius: 0.7rem;
    padding: 1.5rem 2rem;
    animation: come-in 0.5s ease-in-out;
    align-items: stretch;
}



@keyframes come-in {

    0%{
        opacity: 0;
        transform: translateY(-50%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .new-reply-form {
        flex-direction: column;
    }
    
    .new-reply-card {
        
    }
    
    .reply-section {
        gap: 1.2rem;
    }
    
    .reply-card {
        max-width: 90%;
    }

    .new-reply-form > img {
        display: none;
    }

    .new-reply-form > input[type=submit] {
        align-self: flex-end;
    }
}