@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --primary-moderate-blue: hsl(238, 40%, 52%);
    --primary-soft-red: hsl(358, 79%, 66%);
    --primary-light-grayish-blue: hsl(239, 57%, 85%);
    --primary-pale-red: hsl(357, 100%, 86%);
    
    --neutral-dark-blue:  hsl(212, 24%, 26%);
    --neutral-grayish-blue: hsl(211, 10%, 45%);
    --neutral-light-gray: hsl(223, 19%, 93%);
    --neutral-very-light-gray: hsl(228, 33%, 97%);
    --neutral-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    font-size: 16px;
    background: var(--neutral-very-light-gray);
    
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
