@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

:root {
  --primary-moderate-blue: hsl(238 40% 52%);
  --primary-soft-red: hsl(358 79% 66%);
  --primary-light-grayish-blue: hsl(239 57% 85%);
  --primary-pale-red: hsl(357 100% 86%);
  --neutral-dark-blue: hsl(212 24% 26%);
  --neutral-grayish-blue: hsl(211 10% 45%);
  --neutral-light-gray: hsl(223 19% 93%);
  --neutral-very-light-gray: hsl(228 33% 97%);
  --neutral-white: hsl(0 0% 100%);
  --modal-backdrop: rgb(0 0 0 / 50%);
  --scrollbar-track: hsl(0 0% 95%);
  --scrollbar-thumb-hover: hsl(0 0% 33%);
  --font-size-badge: calc(13 / 16 * 1rem);
  --font-size-compact: calc(14 / 16 * 1rem);
  --font-size-body: 1rem;
  --font-size-modal-title: calc(22 / 16 * 1rem);
  --line-height-base: calc(24 / 16 * 1rem);
  --space-comment-y: clamp(1rem, 2vw, 1.5rem);
  --space-comment-x: clamp(1.5rem, 3vw, 2rem);
  --space-votes-y: clamp(0.5rem, 1.5vw, 0.55rem);
  --space-votes-x: clamp(0.7rem, 2vw, 0.8rem);
  --space-votes-desktop-y: calc(0.7 * 1rem);
  --space-votes-desktop-x: calc(0.5 * 1rem);
  --space-badge: calc(0.25 * 1rem) calc(0.45 * 1rem);
  --space-field: calc(0.5 * 1rem) 1rem;
  --space-form-y: clamp(0.5rem, 1.5vw, 1rem);
  --space-form-x: clamp(1.5rem, 3vw, 2rem);
  --space-form-mobile-y: clamp(0.4rem, 1vw, 0.5rem);
  --space-submit: 1rem calc(1.9 * 1rem);
  --space-submit-reply: 1rem 1.5rem;
  --space-edit-submit: 1rem calc(1.2 * 1rem);
  --space-modal-button: calc(0.7 * 1rem) 1.5rem;
  --border-width-default: calc(2 / 16 * 1rem);
  --border-width-hairline: calc(1 / 16 * 1rem);
  --offset-hairline: calc(2 / 16 * 1rem);
  --space-text-block-start: calc(1 * 1rem);
  --space-mention-inline-end: calc(0.2 * 1rem);
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
}

body {
  font-size: var(--font-size-body);
}

.visually-hidden {
  @include visually-hidden;
}
